* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMonoNL Nerd Font";
  font-weight: bold;
  font-size: 18px;
  min-height: 10px;
}

window#waybar {
  background: rgba(35, 31, 32, 0.00);
}

tooltip {
  background: rgba(35, 31, 32, 0.00);
  color:      rgba(217, 216, 216, 1);
  border-radius: 7px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  padding: 3px 3px;
  color: #dfd2c4;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  background: #ca714e;
  color: #dfd2c4;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
  background: #cc8a5e;
  color: #ffffee;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  padding: 3px 3px;
  color: #dfd2c4;
  animation: ws_normal 20s ease-in-out 1;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  background: #ca714e;
  color: #dfd2c4;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
  background: #cc8a5e;
  color: #ffffee;
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#idle_inhibitor,
#language,
#memory,
#mpris,
#network,
#pulseaudio,
#tray {
  background: rgba(35, 31, 32, 0.00);
  color:      rgba(217, 216, 216, 1);
  opacity: 1;
  margin: 6px 0px;
  padding: 0 10px;
}

#workspaces,
#taskbar {
  margin: 6px 0px;
  padding: 0 6px;
}

#window {
  margin: 6px 0px;
}


.modules-left {
  margin-top: 4px;
  border-radius: 10px;
  margin-left: 20px;
  background: rgba(35, 31, 32, 0.50);
  padding: 0 10px;
}

.modules-center {
  margin-top: 4px;
  border-radius: 10px;
  background: rgba(35, 31, 32, 0.50);
}

.modules-right {
  padding-left: 10px;
  margin-top: 4px;
  border-radius: 10px;
  margin-right: 20px;
  background: rgba(35, 31, 32, 0.50);
}

