/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #222222;
    background-alt: #282B31;
    foreground:     #FFFFFF;
    selected:       #d97e00;
    active:         #d97e00;
    urgent:         #E06C30;
}
